
.btncotizar {
    color:#fff;
	height: 31px;
    width: 117px;
	border:0;
    cursor:pointer;
	background: rgba(237,199,31,1);
	background: -moz-linear-gradient(top, rgba(237,199,31,1) 0%, rgba(250,112,0,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(237,199,31,1)), color-stop(100%, rgba(250,112,0,1)));
	background: -webkit-linear-gradient(top, rgba(237,199,31,1) 0%, rgba(250,112,0,1) 100%);
	background: -o-linear-gradient(top, rgba(237,199,31,1) 0%, rgba(250,112,0,1) 100%);
	background: -ms-linear-gradient(top, rgba(237,199,31,1) 0%, rgba(250,112,0,1) 100%);
	background: linear-gradient(to bottom, rgba(237,199,31,1) 0%, rgba(250,112,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edc71f', endColorstr='#fa7000', GradientType=0 );
}
.btncotizar:hover {
    background: rgba(237,199,31,1);
   background: -moz-linear-gradient(top, rgba(237,199,31,1) 0%, rgba(255,140,8,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(237,199,31,1)), color-stop(100%, rgba(255,140,8,1)));
    background: -webkit-linear-gradient(top, rgba(237,199,31,1) 0%, rgba(255,140,8,1) 100%);
    background: -o-linear-gradient(top, rgba(237,199,31,1) 0%, rgba(255,140,8,1) 100%);
    background: -ms-linear-gradient(top, rgba(237,199,31,1) 0%, rgba(255,140,8,1) 100%);
    background: linear-gradient(to bottom, rgba(237,199,31,1) 0%, rgba(255,140,8,1) 100%);
    ffilter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edc71f', endColorstr='#ff8c08', GradientType=0 );

	
}.btncotizar:active {
	position:relative;
	top:2px;
}
